@import "tailwindcss";

:root {
  --my-dark-color: #2b2a2a;
  --my-gray-color: #4c4646;
}

@utility dark-bg {
  background-color: var(--my-dark-color) !important;
}

@utility dark-font {
  color: var(--my-dark-color) !important;
}

@utility gray-font {
  color: var(--my-gray-color) !important;
}

@utility gray-bg {
  background-color: var(--my-gray-color) !important;
}

@utility anim-bg {
  background: linear-gradient(270deg, #d02752, #ec4899, #f63049, #af63f1);
  background-size: 600% 600%;
  animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* bg-linear-to-br from-[#D02752] to-[#F63049]  previous bg */

@utility shadow-teal {
  box-shadow: 0 0 10px rgb(5, 222, 222);
}
@utility shadow-yellow {
  box-shadow: 0 0 10px rgb(225, 210, 4);
}

@utility bg-mountain {
  background-image: url("/mountain.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: mountainMove 3s linear infinite;
}

@media (max-width: 768px) {
  .bg-mountain {
    animation-duration: 1s;
  }
}

@keyframes mountainMove {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: -200% 100%;
  }
}
